<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <a href="{{ path('channel_index') }}">Index</a>
        {% if app.user %}
            <a href="{{path('logout')}}">ログアウト</a>
        {% else %}
            <a href="{{ path('login')}}">ログイン</a>
            <a href="{{ path('user_registration')}}">ユーザー登録</a>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
