{% extends 'base.html.twig' %}

{% block body %}
  <ul>
    {% for channel in channels %}
      <li>
        <a href="{{ path('channel_show', {'name': channel.name}) }}">
          {{ channel.name }}
        </a>  
        <a href="{{ path('channel_edit', {'name': channel.name}) }}">名前変更</a> 
        <a href="{{ path('channel_delete', {'name': channel.name}) }}">削除</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ path('channel_new') }}">+</a>

<p>this is index page</p>

{% endblock %}