{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-3">
    <h2>チャンネル一覧</h2>
  </div>

  <div class="container">
    <ul>
      {% for channel in channels %}
        <li>
          <a href="{{ path('channel_show', {'name': channel.name}) }}">
            {{ channel.name }}
          </a>  
          
          {% if app.user %}
            <a href="{{ path('channel_edit', {'name': channel.name}) }}">名前変更</a> 
            <a href="{{ path('channel_delete', {'name': channel.name}) }}">削除</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% if app.user %}
      <a href="{{ path('channel_new') }}">+</a>
    {% endif %}
  </div>

{% endblock %}