{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-3">
      {% if app.user %}
        <a href="{{ path('channel_new') }}">+</a>
      {% endif %}

      <div class="list-group">
        {% for channel in channels %}
          <a class="list-group-item list-group-item-action" href="{{ path('channel_show', {'name': channel.name}) }}">
            {{ channel.name }}
          </a>  
        {% endfor %}
      </div>
    </div>

    <div class="col-9">
      <div class="row mt-4 ml-5">
        <h2 class="mr-5">{{ currentChannel.name }}</h2>
        {% if app.user %}
          <a class="pt-3" href="{{ path('channel_edit', {'name': currentChannel.name}) }}">名前変更</a> 
        {% endif %}
      </div>

      <div class="row mt-4 ml-3">
        <table class="talbe">
          <tbody>
            {% for thread in threads %}
              <tr>
                <td>
                  <div class="row">
                    {{ thread.content }}
                  </div>

                  <div class="row mb-3 text-muted">
                    by {{thread.username}}.
                    {% if app.user.id == thread.userId %}
                      <a class="ml-2" href="{{path('thread_edit', {'name': currentChannel.name, 'id': thread.id })}}">編集</a>
                      <a class="ml-2" href="{{path('thread_delete', {'name': currentChannel.name, 'id': thread.id })}}">削除</a>
                    {% endif %}
                  </div>
                </td>
              </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div class="row fixed-bottom pt-2 pb-2 bg-light">
    <div class="col-9 offset-3">
      {% if app.user %}
        {{ include('thread/new.html.twig', {'form' : form}) }}
      {% endif %}
    </div>
  </div>


{% endblock %}